.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    background-color: #2b2b2b;
    font-family: Arial, sans-serif;
    border-radius: 8px;
}

.section {
    width: 45%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #202020;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

h3 {
    text-align: center;
    color: #333;
}

.input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.container button {
    margin: 5px;
    padding: 8px 12px;
    background-color: #45a049;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
  
.container button:hover {
    background-color: #004b04;
}

p {
    font-size: 14px;
    margin: 5px 0;
}

pre {
    background-color: #eee;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
}