.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
  
.mainContent {
    display: flex;
    width: 100%;
}
  
.leftPane {
    flex: 0 0 60%;
    padding-right: 20px;
    background-color: #2b2b2b;
    padding: 20px;
    margin-right: 5px;
    border-radius: 8px;
}
  
.rightPane {
    flex: 0 0 35%;
    background-color: #2b2b2b;
    padding: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
}
  
textarea {
    width: 90%;
    margin: 10px 0;
    border-radius: 8px;
    margin-left: 5px;
}
  
.container button {
    margin: 10px 0;
    padding: 10px;
    background-color: #009205;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
  
.container button:hover {
    background-color: #005604;
}
  
.keysContainer {
    display: flex;
    justify-content: space-between;
}

.keysContainer textarea {
  width: 300px;
}
  
.encryptedDecrypted {
    display: flex;
    justify-content: space-between;
}
  
.rightPane .logWindow {
    height: 70vw;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 300px;
    overflow-y: auto;
    justify-content: center;
}

.logWindow ul {
    list-style-type: none;
    padding: 0;
}
  
.logWindow li {
    padding: 5px 0;
    font-size: small;
}
  