.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 10px;
    padding: 5px;
    background-color: #2b2b2b;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 99%;
    height: 99%;
    font-size: small;
    margin-top: 2px;
    margin-bottom: 2px;
    overflow-y: auto;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 0px;
}

.headerContainer h2 {
    color: #008000;
    margin: 0px;
}

label {
    font-weight: bold;
    margin: 5px 0 5px;
}

.textArea {
    width: 100%;
    height: 70px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    resize: vertical;
    box-sizing: border-box;
    background-color: #fff;
}

/* Kontener dla pola hasła i przycisku */
.inputContainer {
    display: flex;
    align-items: center;
    width: 50%;
    max-width: 500px;
    margin-top: 5px;
}

.input {
    flex: 1; /* Zajmuje całą szerokość dostępnego miejsca */
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    width: 50%;
    max-height: 30px;
}

.showButton {
    margin-left: 5px;
    padding: 5px 10px;
    font-size: 0.9rem;
    color: #008000;
    background: none;
    border: 1px solid #008000;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    height: 100%;
}

.showButton:hover {
    background-color: #e6f0ff;
}

.fileInput {
    width: 40%;
    font-size: small;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.button {
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
    background-color: #008000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: small;
}

.button:hover {
    background-color: #114d11;
}

.showPasswordLabel {
    margin-top: 5px;
    font-size: 0.9rem;
}

/* src/components/DESCipher.module.css */

.resultContainer {
    display: flex;
    gap: 20px; /* Odstęp między polami */
    width: 100%;
    margin-top: 0px;
}

.resultBox {
    flex: 1; /* Ustawia równe szerokości dla obu pól */
    display: flex;
    flex-direction: column;
    gap: 5px; /* Odstęp między etykietą a polem tekstowym */
    width: 100%;
}

.resultBox label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.select {
    border-radius: 8px;
    padding:5px;
}

.error {
    font-size: small;
    color: red;
    margin: 0px;
}